{% extends "layouts/base.html" %}
{% load static %}

{% block header %}
<link rel="canonical" content="https://www.socrates.es/about" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div class="box other">
            <header>
                <h2>Acerca de mí</h2>
                <p>Hola, soy Kevin B. Casas, el peor discípulo de Sócrates...</p>
            </header>

            <p>Licenciado de Filosofía, en la Universidad de la Habana (2004). Máster en Historia del Arte, en la Universidad de la Habana (2011). Asociado en Ciencia: Programación de Computadoras y Análisis, Miami Dade College (2019).</p>

            <p>Profesor de la Universidad de las Artes de Cuba, la Universidad de la Habana y el Miami Dade College. Ha participado como ponente en múltiples eventos, entre los que se encuentran “Beyond the Hyphen. Approaching a Post Geographic Cuba” (Princeton University, 2014) y en el Seminario Permanente del IGCAAV (Universidad de Guadalajara, 2017).</p>

            <p>Ha incursionado, desde una perspectiva interdisciplinar, en las artes visuales y la literatura. Sus intereses estéticos se nutren de las nuevas tecnologías, especialmente para des-ocultar sus lógicas comunicativas. Su obra artística ha sido incluida en múltiples exposiciones como las siguientes, “Ojalá!” (Zeitgenössische kubanische Kunst, Berlin, 2015) y “Hope” (ESMoA, Los Angeles, 2017).</p>

            <p>Creador del proyecto <a href="https://www.eldiletantedigital.com" target="_blank" rel="noopener noreferrer">El Diletante Digital</a> (2006-2011). </p>

            <p>Para ver todos mis proyectos visite mi sitio web <a href="https://www.kevinbcasas.com" target="_blank" rel="noopener noreferrer">kevinbcasas.com</a></p>
        </div>
    </div>
</div>
{% endblock %}
