{% extends "layouts/base.html" %}
{% load static %}

{% block meta %}
{% include 'partials/meta.html' %}
{% endblock %}

{% block header %}
<link rel="canonical" content="https://www.socrates.es/contact" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div class="box other">
            <header>
                <h2>Contacto</h2>
                {% if error %}
                    <p class="error">Hubo un error al enviar el correo. Por favor, inténtelo de nuevo.</p>
                {% else %}
                    {% if sent %}
                        <p class="error">Recibí su correo. Le responderé pronto  :)</p>
                    {% else %}
                        <p>Ya sabes que hacer...</p>
                    {% endif %}
                {% endif %}
            </header>

            <form method="POST" action="/contact">
                {% csrf_token %}
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" name="name" id="name" value="{% if name %}{{name}}{% endif %}" required />
                </div>
                <div class="form-group">
                    <label>Correo:</label>
                    <input type="email" name="email" id="email" value="{% if email %}{{email}}{% endif %}" required />
                </div>
                <div class="form-group">
                    <label>Mensaje:</label>
                    <textarea name="message" id="message" style="width: 100%; height: 200px; resize: vertical" required>{% if message %}{{message}}{% endif %}</textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" name="nothing"  />
                    <div class="cf-turnstile" data-sitekey="0x4AAAAAABY4u5i06SXLgvSz"></div>
                </div>
                <div class="form-group">
                    <a href="javascript:" class="button next" id="submitContact">Enviar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Cloudflare -->
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

<script>
    $(document).ready(function() {
        let error = $("#error");
        $('#submitContact').on('click', function(e) {
            e.preventDefault();
            const $form = $(this).closest('form');
            const name = $("#name").val();
            const email = $("#email").val();
            const message = $("#message").val();
            if (!name || !email || !message) {
                return;
            }
            $form.submit();
        });
    });
</script>
{% endblock %}