.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.social li {
}

.social li a {
    display: block;
}

#copyDiv {
    text-align: center;
    padding: 1em;
}

.form-group {
    margin-bottom: 1.5em;
}

.hidden {
    display: none;
}

.error {
    color: #b93653;
    font-weight: bold;
    font-size: larger;
}

.video {
    text-align: center;
    margin: 4em 0;
}

.video .subtitle {
    font-weight: bold;
}

.video video {
    width: 100%;
    max-width: 480px;
}

article p {
    font-size: larger;
}

.recent-comments li {
    font-size: larger;
    margin: 1em 0;
}

.underlined {
    text-decoration: underline;
}

.nodecoration {
    text-decoration: none;
}

.back {
    display: block;
    text-align: center;
}

.logo_img {
    margin-bottom: 10px;
    text-align: center;
}

.logo_img img {
   width: 36px;
}

.coffee {
    margin: 0.5em;
}

.coffee a {
    padding: 0.5em
}

@media screen and (min-width: 737px) {
    .error {
        font-size: 1.6em;
        font-weight: normal;
    }

    .logo_img img {
        width: 50px;
    }

    .coffee a {
        padding: 0.5em 1em
    }
}