<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <meta name="theme-color" content="#000000" />

    <!-- Page title -->
    <title>Todos los hombres son mortales, Sócrates es un hombre, Sócrates es mortal</title>
    <!-- /Page title -->

    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <link rel="apple-touch-icon" href="{% static '/assets/images/apple-touch-icon.png' %}" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static '/assets/images/favicon-16x16.png' %}" />
    <link rel="favicon" type="image/png" href="{% static '/assets/images/favicon.ico' %}" />
    <!-- /favicon -->

    <!-- manifest -->
    <link rel="manifest" href="{% static '/assets/site.webmanifest' %}">

    <!-- Meta -->
    <meta name="keywords" content="filosofia antigua, filosofia griega, filosofia romana, filosofia, estoico, estoicismo, socrates, diogenes, marco aurelio, seneca, musonio rufo, epicteto, zenon, cleantes, crisipo, realidad aumentada, inteligencia artificial, citas, inspiracion, autoayuda, felicidad, sabiduria, motivacion, bienestar, memento mori, amor fati, carpe diem" />
    <meta name="description" content="Investigación sobre filosofía antigua y diario de Kevin Beovides Casas" />
    <meta name="author" content="Kevin Beovides Casas" />

    {% block meta %}{% endblock %}

    <!-- Styles -->
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/mine.css' %}" />

    {% block header %}{% endblock %}
</head>
<body class="is-preload">

	{% block content %}{% endblock %}

	{% include 'partials/sidebar.html' %}

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script>
        var	$window = $(window),
		    $body = $('body'),
		    $document = $(document);

        // Breakpoints
        breakpoints({
            desktop:   [ '737px',   null     ],
            wide:      [ '1201px',  null     ],
            narrow:    [ '737px',   '1200px' ],
            narrower:  [ '737px',   '1000px' ],
            mobile:    [ null,      '736px'  ]
        });

        $('<div id="titleBar">' +
                '<a href="#sidebar" class="toggle"></a>' +
                '<span class="title">' + $('#logo').html() + '</span>' +
            '</div>')
        .appendTo($body);

        // Sidebar
        $('#sidebar')
            .panel({
                delay: 500,
                hideOnClick: true,
                hideOnSwipe: true,
                resetScroll: true,
                resetForms: true,
                side: 'left',
                target: $body,
                visibleClass: 'sidebar-visible'
            });

        $("#copyYear").text(new Date().getFullYear());

        $window.on('load', function() {
            window.setTimeout(function() {
				$body.removeClass('is-preload');
			}, 100);
		});
    </script>

	<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-658GWFTXER"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-658GWFTXER');
    </script>

	{% block script %}{% endblock %}
	</body>
</html>
