{% load static %}

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Todos los hombres son mortales, Sócrates es un hombre, Sócrates es mortal">
<meta itemprop="description" content="Investigación sobre filosofía antigua y diario de Kevin Beovides Casas">
<meta itemprop="image" content="{% static '/assets/images/social.png' %}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@kevinbcasas">
<meta name="twitter:title" content="Todos los hombres son mortales, Sócrates es un hombre, Sócrates es mortal">
<meta name="twitter:description" content="Investigación sobre filosofía antigua y diario de Kevin Beovides Casas">
<meta name="twitter:creator" content="@kevinbcasas">

<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{% static '/assets/images/social.png' %}">

<!-- Open Graph data -->
<meta property="og:title" content="Todos los hombres son mortales Sócrates es un hombre Sócrates es mortal" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.socrates.es/" />
<meta property="og:image" content="{% static '/assets/images/social.png' %}" />
<meta property="og:description" content="Investigación sobre filosofía antigua y diario de Kevin Beovides Casas" />
<meta property="og:site_name" content="Socrates" />
<meta property="article:publisher" content="https://www.facebook.com/kevinbcasas/" />
<meta property="article:author" content="https://www.facebook.com/kevinbcasas/" />